.container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.subNavLink {
  padding: 10px 10px;
  font-size: 17px;
  border-bottom: 1px solid #c2c2c2;
  text-decoration: none;
  color: gray;
}

.active {
  border-bottom: 1px solid var(--sub-nav-border-color);
  color: var(--text-color);
}



